/*这是book-detail.html对应的CSS文件*/


.book-brief{
    margin: 0 auto;
    width: 580px;
}
.book-thumbnail{
    border:1px solid #e1e1e1;
    padding: 0 33px;
    float: left;
}
.book-thumbnail img{
    width: 193px;
}

.book-brief-info{
    width: 280px;
    float: left;
    color: #333;
    font-size: 13px;
    margin-left: 35px;
}
.book-brief-info h3{
    margin: 5px 0 15px;
    font-weight: bold;
    font-size: 14px;
}
.book-brief-info {
    line-height: 170%;
}
.book-brief-info hr{
    border:0;
    border-top: 1px solid #e9e9e9;
    margin: 10px 0;
    width: 80%;
}

.book-brief-info p span{
    width: 65px;
    display: inline-block;
}




.book-brief .btn-group{
    font-size: 0;
    margin-top: 15px;
}
.book-brief .btn-group button{
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
}
.book-brief .btn-group button:first-child{
    background-color: #8cc152;
    width: 98px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
}
.book-brief .btn-group button:last-child{
    background-color: #4fa2cd;
    width: 80px;
    height: 25px;
    line-height: 25px;
    vertical-align: bottom;
}



.book-detail-and-comment{
    max-width: 960px;
    margin: 20px auto 0;

}


.book-detail-and-comment-header ol li{
    float: left;
    background-color: #333;
    color: #fff;
    text-align: center;
    position: relative;
    margin-right: 40px;
    font-size: 12px;
    cursor: pointer;
}
.book-detail-and-comment-header ol li:first-child{
    padding: 7px 5px 7px 15px;
}
.book-detail-and-comment-header ol li:first-child:after{
    content: "";
    width: 0;height: 0;
    display: inline-block;
    border:15px solid transparent;
    border-bottom-color: #333;
    border-left-color: #333;
    position: absolute;
    left: 100%;
    bottom: 0;
}

.book-detail-and-comment-header ol li:last-child{
    padding: 7px 15px 7px 5px;
}
.book-detail-and-comment-header ol li:last-child:after{
    content: "";
    width: 0;height: 0;
    display: inline-block;
    border:15px solid transparent;
    border-top-color: #333;
    border-right-color: #333;
    position: absolute;
    right: 100%;
    top: 0;
}


.book-detail-and-comment-content{
    position: relative;
}
.nav-line{
    /*position: absolute;
    left: 15px;
    top: 0;*/
    float: left;
    margin-left: 15px;
    width: 2px;
    height: 1000px;
    background-color: #ddd;
}

.book-detail-section {
    padding: 20px 0 0 40px;
    position: relative;
}

.book-detail-section h3:before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    border:2px solid #62da83;
    position: absolute;
    left: 8px;
    top: 23px;
}

.book-detail-section h3:after{
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background-color: #62da83;
    position: absolute;
    left: 23px;
    top: 29px;
}








.book-comment li{
    margin-bottom: 20px;
}
.book-comment{
    margin-left: 40px;
    padding-top: 20px;
}
.user-comment-header{
    background-color: #eee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 5px 15px;
    position: relative;
    box-shadow: 0px 2px 7px -2px rgba(0,0,0,.2);
    position: relative;
}

.user-comment-header:before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    border:2px solid #62da83;
    position: absolute;
    left: -32px;
    top: 16px;
}
.user-comment-header:after{
    content: "";
    display: inline-block;
    border:10px solid transparent;
    border-right-color: #eee;
    position: absolute;
    left: -20px;
    top: 13px;
}


.user-comment-header img{
    width: 38px;
    height: 38px;
    display: inline-block;
    margin-right: 3px;
}
.user-comment-header div{
    display: inline-block;
}
.user-comment-header .user-name{
    color: #333;
}
.user-comment-header .usr-intro{
    color: #636363;
    margin-bottom: -3px;
}
.user-comment-header time{
    float: right;
    color: #636363;
    line-height: 50px;
}


.user-comment-content{
    background-color: #dbfde3;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color:#333;
    text-indent: 2em;
}

.book-comment li .user-comment-content{
    padding: 14px 18px 28px 18px;

}
.reply-and-zan{
    float: right;
    color: #555
}
.reply-and-zan a{
    color: #555;
    margin-left: 5px;
}


.book-comment{
    display: none;
}