/*对应sign-in-out.html的CSS文件*/
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

main{
    width: 100%;
    height: 100%;
    background: url("../../img/banner-bg.jpg") 50% 0/cover no-repeat;
}


.sign-in-and-register{
    width: 224px;
    height: 180px;
    position: relative;
    float: right;
    margin-top: 20%;
}
/*
.register-form, .sign-in-form{
    display: none;
}
*/

.sign-in-and-register form input{
    display: inline-block;
    border-radius: 4px;
	
    background-color: rgb(231, 241, 248);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
    width: 223px;
    height: 37px;
    border:0;
    font-size: 13px;
    padding-left: 11px;
    margin-bottom: 10px;
}
.sign-in-and-register form input[type='button']{
    background: #b5e5a4;
    color: #fff;
    text-align: center;
    padding: 0;
	margin-top: 10px;
}
.left-float-right-abs {
	position:relative;
	overflow:hidden;
}
.left-float-right-abs input {
	float:left;
}

.left-float-right-abs img {
	position:absolute;
	right:0px;
	width:37px;
	height:37px;
}
#ver_register_input{
	width: calc(50% - 10px);
}
#ver_register_img{
	float: right;
	width: calc(50% - 10px);
	height: 37px;
}
#login_prompt{
	
}
.form-header{
    margin-bottom: 15px;
}
.form-header>span{
    font-size: 15px;
    color: #fff;
}
.form-header>span:first-of-type{
    float: left;
}
.form-header>span:last-of-type{
    float: right;
    padding-right: 20px;
    background:url('../../img/sign-arrow.png') 100% 50% no-repeat;
    cursor: pointer;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}
.form-header>span:last-of-type:hover{
    -webkit-transform: translate3d(5px,0,0);
    -ms-transform: translate3d(5px,0,0);
    -o-transform: translate3d(5px,0,0);
    transform: translate3d(5px,0,0);
}

.inspiring {
    font-size: 24px;
    font-family: "Adobe Heiti Std";
    color: rgb(255, 255, 255);
    line-height: 1.083;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);
    font-weight: bold;
    position: absolute;
    margin-top: 20%;
    opacity: 0;
    -webkit-transform: translate3d(-50%,0,0);
    -ms-transform: translate3d(-50%,0,0);
    -o-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0);
    -webkit-animation:init .9s .5s forwards;
    animation:init .9s .5s forwards;
}

@-webkit-keyframes init{
    0%{
        opacity: 0;
        -webkit-transform: translate3d(-50%,0,0);
        -ms-transform: translate3d(-50%,0,0);
        -o-transform: translate3d(-50%,0,0);
        transform: translate3d(-50%,0,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}
footer{
    font-size: 14px;
    background-color: transparent;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding:0 0 15px;
}


.register-tips{
    background-color: rgba(255,255,255,.1);
    border-radius: 5px;
    border:1px solid ;
    color: #fff;
    margin-top: 10px;
    padding: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    display: none;
}



