/*这是公共的CSS文件*/
.center{
    text-align: center;
}





/*------------------------------header开始------------------------------*/
header{
    height: 52px;
    background-color: #333;
    border:1px solid #3f3f3f;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;right: 0;
}

.header-wrap{
    /*-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;*/
/*    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    -ms-perspective: 1800px;
    perspective: 1800px;*/
}

.header-wrap .logo{
    margin-top: 6px;

    float: left;
}


.header-wrap .user-panel{
    float: right;
}

.header-center-wrap{
    margin: 0 auto;
    width: 520px;
    text-align: center;
}
nav{
    text-align: center;
}
.search{
    display: inline-block;
    position: relative;
    top: -2px;
    left: 12px;

}
.search form{
    position: relative;
}
.search input{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 68px;
    font-size: 12px;
    line-height: 20px;
    padding: 3px 15px 3px 4px;
    height: 14px;
    border:2px solid #fff;
    border-radius: 8px;
    outline: none;
    background-color: transparent;
    /*background: url("../../img/search-icon.png") no-repeat 95% 50%;*/
}
.search input:focus{
    color: #fff;
}
.header-center-wrap .search a{
    display: inline-block;
    width: 30px;
    height: 100%;
    background: url("../../img/search-icon.png") no-repeat 50% 50%;
    position: absolute;
    top: 0;right: 0;
}
.header-center-wrap>nav>a{
    font-size: 14px;
    padding: 6px 12px;
    line-height: 52px;
}
.header-center-wrap a.active{
    background-color: #8cc152;
    border-radius: 8px;
}



.user-panel{
    padding: 9px 6px 7px;
    position: relative;
    background-color: #333;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.user-panel:hover{
    background-color: #434a54;
}

.user-head-icon{
    width: 32px;height: 32px;
    position: relative;
}
.user-head-icon img{
    max-height: 100%;
}
.user-head-icon .message-number{
    position: absolute;
    right: -11px; top: -9px;
    width: 22px;height: 18px;
    background-color: #8cc152;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    color: #fff;
}

.user-panel .user-info, .user-head-icon, .icon-set{
    float: left;
}
.user-panel .user-info{
    color: #fff;
    line-height: 15px;
    padding: 4px 0 0 11px;
}
.icon-set a{
    display: inline-block;
    width: 22px;height: 21px;
    text-indent: -2000em;
    margin: 14px 0 0 6px;
}
.icon-set .sign-out{
    background:url("../../img/sign-out-icon.png") no-repeat 50% 50%;
    margin-left: 12px;
}
.icon-set .user-set{
    background:url("../../img/user-set-icon.png") no-repeat 50% 0;
}


.message-list{
    position: absolute;
    top: 100%;left: 0;
    width: 120%;    
    background-color: #434a54;
    color: #fff;
    padding: 5px 10px;
    opacity: 0;
    -webkit-transform-origin:50% 0;
    -ms-transform-origin:50% 0;
    -o-transform-origin:50% 0;
    transform-origin:50% 0;
    -webkit-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);

    -webkit-transition: all .3s .2s;
    -o-transition: all .3s .2s;
    transition: all .3s .2s;
}
.user-panel:hover .message-list{
    opacity: 1;
    -webkit-transform: rotateX(0);
    -ms-transform: rotateX(0);
    -o-transform: rotateX(0);
    transform: rotateX(0);
}
@media all and (max-width: 1030px){
    .message-list{
        left: auto;
        right: 0;
    }
}
.message-list ul li{
    padding: 7px 4px;
    border-bottom: 1px solid #8cc152;
}

.message-list ul li span{
    float: right;
    color: #ccc;
}
.pagination{
    margin-top: 5px;
}

.pagination a:last-child{
    float: right;
}

.navbar-toggle{
    position:relative;
    float:right;
    padding:9px 10px;
    margin-top:8px;
    margin-right:0px;
    margin-bottom:8px;
    background-color:transparent;
    background-image:none;
    border:1px solid transparent;
    border-radius:4px;
    display: none;
}
.navbar-toggle:hover{
    background-color: rgba(255,255,255,.1);
},
.navbar-toggle:focus{
    outline:0
}
.navbar-toggle .icon-bar{
    display:block;width:22px;height:2px;border-radius:1px;
    background-color: #fff;
}
.navbar-toggle .icon-bar+.icon-bar{
    margin-top:4px
}
@media (max-width: 992px){
    div.header-wrap{
        width: auto;
    }
    .header-center-wrap{
       position: absolute;
       top: 100%;
       background-color: #333;
       left: 0;right: 0;
       width: 100%;
       border-bottom-right-radius:6px;
       border-bottom-left-radius:6px;
       overflow: hidden;
       height: 0;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }
    header{
        border-bottom: 1px solid rgba(0,0,0,.4)
    }
    .header-center-wrap.in{
        height: 252px;
        border-top: 1px solid rgba(255,255,255,.15);
        margin-top: 1px;
    }
    .header-center-wrap nav{
        text-align: left;
    }
    .header-center-wrap nav>a{
        display: block;
        padding-left: 20px;
        line-height: 36px
    }
    .header-center-wrap nav>a:last-of-type{
        border-bottom: 1px solid rgba(0,0,0,.4)
    }
    .header-center-wrap nav a:hover{
        background-color: rgba(102,102,102,.5);
    }
    .header-center-wrap a.active{
        background-color: transparent;
        border-radius: 0;
    }
    .header-center-wrap .search{
        width: 100%;
        position: static;
        padding: 14px;
        border-top: 1px solid rgba(255,255,255,.15)

    }
    .header-center-wrap .search input{
        border:1px solid;
        border-radius: 0;
        background-color: rgba(102,102,102,.5);
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 30px;
    }
    .navbar-toggle{
        display: block;
    }

}

/*------------------------------header结束------------------------------*/




/*------------------------------main公共开始------------------------------*/

#content-wrap{
    font-size: 14px;
    margin-top: 64px;
}
.content-header{
    margin-bottom: 25px;
}
.content-header h3{
    font-size: 16px;
}
.thumbnail{
    padding: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    margin-bottom: 20px;
}
.thumbnail img{
    display: block;
    max-width: 100%;
    width: 100%;
}
/*------------------------------main公共结束------------------------------*/



/*------------------------------footer开始------------------------------*/
footer{
    background-color: #434a54;
    color: #fff;
    margin-top: 20px;
    padding: 40px 0 20px;
}
footer .container div{
    margin-bottom: 6px;
}
footer a{
    margin: 12px;
}
footer a:hover{
    color: #5cb85c;
}

/*footer结束*/

.error{
    color: rgb(236,33,33);
    display: inline-block;
    height: 0;
    overflow: hidden;
    vertical-align: middle;
}
.sign-in-and-register-error{
    display: block;
    margin: 8px;
    

}







/*超小屏幕 手机 (<768px)  小屏幕 平板 (≥768px) 中等屏幕 桌面显示器 (≥992px) 大屏幕 大桌面显示器 (≥1200px)*/
.container{
    margin: 0 auto;
    padding: 0 15px
}
.col-xs-12{
    width: 100%;
}

@media (min-width: 768px){
    .container{
        width: 750px;
    }
}

@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}

.col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-sm-12, .col-sm-3, .col-sm-4, .col-sm-9, .col-xs-12{
    position: relative;
    min-height: 1px;
    padding: 0 15px;
    float: left;
}

.col-xs-12{
    width: 100%;
}

@media (min-width: 768px){
    .col-sm-4{
        width: 33.33333333%
    }
}

@media (min-width: 992px){
    .col-md-3{
        width: 25%;
    }
}

