/*这个是对应index_new.html的CSS文件*/

#content-wrap{
    max-width: 1070px;
}
.content-head{
    font-size: 0;
}
.book-category {
    width: 255px;
    background-color: #4A5E80;
    display: inline-block;
}
@media (min-width: 960px) and (max-width: 1200px){
    .book-category{
        width:25%;
    }
    div.book-category li{
        height: 35px;
    }
    .banner{
        width: 75%;
        /*width: calc( 100% - 200px);*/
    }
    .book-category ul{
        height: 377px!important;
    }
}

@media (min-width: 1200px){
    .book-category ul{
        height: 395px!important;
    }
}
.book-category .category-search{
    padding: 8px 13px;
    position: relative;
    border-bottom: 1px dashed #fff;
}
.book-category .category-search input[type="text"]{
    width: 100%;
    color: #383838;
    padding: 4px;
    font-size: 12px;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,.2);
    border-radius: 3px;

}
.book-category .category-search input[type="submit"]{
    width: 14px;
    height: 14px;
    background:url("../../img/category-search-icon.jpg") no-repeat 95% 50%; 
    border:0;
    text-indent: -2000em;
    position: absolute;
    right: 20px;
    top: 17px;

}
.book-category li{
    margin: 0 13px;
    height: 37px;
    position: relative;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    
}
.book-category li.first{
    height: auto;
    font-size: 12px;

}
.book-category li:last-of-type{
    border-bottom: 0;
}
.book-category li h3{
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding: 8px 5px;
}
.no-touch .book-category a:hover, .no-touch .book-category h3:hover{
    background-color: #3c4d6a;
}
.book-category li:not(.first) p{
    font-size: 12px;
    padding: 0px 5px 9px; 
    line-height: 180%;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    opacity: 0;
    padding:10px 10px 10px 20px;
    background-color: #4A5E80;
    z-index: 100;
    overflow: hidden;
    display: none;
/*    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);*/
    
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; 
}
/*.book-category li:not(.first) p:before{
    content: "";
    display: inline-block;
    width: 0;height: 0;
    border:10px solid transparent;
    border-left-color: #3c4d6a;
    position: absolute;
    left: 0;
}*/
.book-category li.first p{
    padding: 2px 5px 9px;
}

.book-category li p a{
    margin-right: 10px;
}
.book-category li p a:hover{
    text-decoration: underline;
}
@media all and (min-width: 960px){
    .book-category li:hover p{
        opacity: 1;
        display: block;
        background-color: #3c4d6a;
    /*    -webkit-transform: translate3d(0, 0 ,0);
        -ms-transform: translate3d(0, 0 ,0);
        -o-transform: translate3d(0, 0 ,0);
        transform: translate3d(0, 0 ,0);*/
    }
    
}

.dropdown-btn{
    display: none;
    width: 100%;
    height: 25px;

    
    border-top: 1px solid rgba(255,255,255,.4);
    box-shadow: 0 -1px 0 0 rgba(0,0,0,.4);
    text-align: center;
    /*border-radius: 0 0 1px;*/
}
.dropdown-btn b{
    display: inline-block;
    width: 11px;
    height: 7px;
    margin-top: 8px;
    background: url("../../img/down-arrow.png") 50% 50% no-repeat;
}
.dropdown-btn.down b{
    -webkit-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
}
.dropdown-btn.up b{
    -webkit-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}
/*响应式处理*/ 
@media all and (max-width: 960px){
    
    .book-category{
        width: 100%;
    }
    .book-category ul{
        height: 68px;
        overflow: hidden;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .book-category .category-search input[type="text"]{
        width: 100%;
    }
    .book-category li.first{
        width: 100%;

        
    }
    .book-category li.first h3{
        border-bottom: 2px dashed rgba(255,255,255,.5)
    }
    .book-category li.first p{
        padding: 0;
    }
    .book-category li.first a{
        display: inline-block;
        width: 50%;
        margin: 0;
        padding:8px;
        
        border-top:0;
        border-bottom:0;
    }
    .book-category li.first a:first-child{
        border-right:1px solid rgba(255,255,255,.5);
    }
    .book-category li{
        text-align: center;
        border:1px solid transparent;
        border-bottom-color: rgba(255,255,255,.5);
        width: 50%;
        margin: 0;
        float: left;
    }
    .book-category li:nth-of-type(2n){
        border-right-color: rgba(255,255,255,.5);
    }

    /*banner*/
    .banner{
        width: 100%;
    }
    div.banner-nav{
        width: 100%;
    }
    .dropdown-btn{
        display: block;
    }
}
.banner{
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.banner-main li{
    position: absolute;
    left: 0;top: 0;
}
.banner-main li:first-child{
    z-index: 5;
    position: relative;
}
.banner-main li:nth-of-type(2){
    z-index: 4;
}
.banner-main li:nth-of-type(3){
    z-index: 3;
}
.banner-main li:last-child{
    z-index: 2;
}
.banner-main li img{
    max-width: 100%;
    width: 100%;
}
.banner-nav{
    background-color: #dcdcdc;
    width: 100%;
    padding: 12px 0;
    text-align: center;
}
.banner-nav li{
    width: 24.5%;
    display: inline-block;
    padding:0 5px;
    
}
.banner-nav img{
    width: 100%;
    max-width: 100%;
    border-radius: 4px;
}









.content-main{
    width: 100%;
    margin-top: 25px;
}

.tab-content{
    position: relative;
    margin-left: 34px;
}
.hot-new-recomment{
    width: 100%;
    height: 273px;
}

.tab-nav{
    float: left;
    position: relative; 
    z-index: 5;
}
.tab-nav {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;
}
.tab-nav li:first-child{
    -webkit-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    -o-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}
.tab-nav li{
    width: 34px;
    height: 87px;
    padding:13px 10.5px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}
.tab-nav li.active{
    box-shadow: -2px 0 3px 1px rgba(0,0,0,.3);
    -webkit-transform:scale(1.1) rotateY(30deg);
    -ms-transform:scale(1.1) rotateY(30deg);
    -o-transform:scale(1.1) rotateY(30deg);
    transform:scale(1.1) rotateY(30deg);
}
.tab-nav li a {
    font-size: 14px;

}

.hot-item{
    background-color: #f94348;
}
.new-item{
    background-color: #3cb38d;
}
.recomment-item{
    background-color:#4bb3e8;
}


.tab-panel{
    border:2px solid #f94348;
    background-color: #fff;
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.tab-panel.active{
    opacity: 1;
    display: block;
}
.tab-panel a{
    color: #666;
}
.tab-panel>div{
    float: left;
    width: 160px;

}
.tab-panel>div:not(.main-img){
    margin-top: 38px;
    text-align: center;
}
.tab-panel>div:not(.main-img) p{
    margin: 5px 0;
}
.tab-panel .main-img{
    width: 357px;
    overflow: hidden;
}

.hot.tab-panel{
    border-color: #f94348;
    z-index: 5;
}
.new.tab-panel{
    border-color: #3cb38d;
    z-index: 4;
}
.recomment.tab-panel{
    border-color: #4bb3e8;
    z-index: 3;
}

@media (min-width: 992px) and (max-width: 1200px){
    .tab-panel .main-img{
        width: 40%;
    }
    .tab-panel>div:last-of-type{
        display: none;
    }
    .tab-panel>div{
        width: 20%;
    }
}

@media (min-width: 768px) and (max-width: 992px){

    .tab-panel>div:nth-of-type(2n+2){
        display: none;
    }
    /*div.banner-nav li:last-of-type{
        display: none;
    }*/
}
@media (max-width: 768px){
    .tab-panel .main-img{
        width: 60%;
    }

    .tab-panel>div:nth-of-type(n+3){
        display: none;
    }
    .tab-panel>div{
        width: 40%;
    }
}
@media (max-width: 458px){
    .tab-panel .main-img{
        width: 100%;
    }

    .tab-panel>div:nth-of-type(n+2){
        display: none;
    }
}



