/*这个文件是message_list.html的CSS文件*/

#content-wrap{
    max-width: 960px;
}

.content-header{
    padding-top: 10px;
    font-size: 18px;
}
.message-box{
    border:1px solid #c9c9c9;
    padding: 8px 8px 15px;
    background-color: #f8f8f8;
}

.message-header {
    border-bottom: 1px solid #e3e3e3;
    position: relative;
    font-size: 14px;

}
.message-header ol {
    /*margin-bottom: -1px;*/
    position: relative;
    bottom: -1px;
    left: 30px;
    float: left;
    padding-top: 12px;
}
.message-header ol li{
    width: 105px;height: 50px;
    float: left;
    border:1px solid transparent;
     
    font-size: 14px;

}
.message-header ol li a{
    display: block;
    line-height: 50px;
    text-align: center;
    color: #515151;    
}
.message-header ol li.active{
    border:1px solid #e3e3e3;
    border-bottom-color:#f8f8f8;
}
.message-header ol li.active a{
    color: #8cc152
}




.message-content>div{
    display: none;
}
.message-content>div:first-child{
    display: block;
}


.message-content ol li{
    border-bottom: 1px dashed #e3e3e3;
    padding: 8px 10px 8px 20px;
    color: #333;
}
.message-content ol li:after{
    content: "."; 
    display: block; 
    height:0; 
    clear:both; 
    visibility: hidden;
}
.message-content ol li time,.message-content ol li span{
    float: right;
    color: #999;
    font-size: 12px;
    line-height: 19px;
}
.message-content ol li span{
    width: 70px;
    text-align: right;
}

.message-content ol li time{
    margin-right: 25px;
}
.message-content ol li span a{
    color: #999;

}
.message-content ol li span em{
    padding: 0 5px;
}


.message-content .system-info-box ol li{
    border-bottom-style:solid;
}


footer{
    position: fixed;
    bottom: 0;
    right: 0;left: 0;
}