/*这个是user_info.html的CSS文件*/


#content-wrap{
    max-width: 870px; 
}
.content-header h3{
    font-size: 16px;
}
.user-info-head-icon{
    /*float: left;*/
    display: inline-block;
    vertical-align: top;
    padding-right: 50px;
    background: url("../../img/shuzhifenge.png") 100% 0 no-repeat;
    margin-left: 28px;
}

.head-icon-upload{
    width: 280px;
    height: 280px;
    border:1px solid #e1e1e1;
    background-color: #f2f2f5;
    margin: 12px 0 0 28px;
}
.head-icon-upload button{
    width: 65px;
    height: 19px;
    border:1px solid #d7d7d7;
    text-align: center;
    line-height: 17px;
    font-size: 12px;
    color: #333;
    background-color: transparent;
    margin: 110px auto 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.1)
}
.head-icon-upload button:before{
    content: "+";
    /*font-family: "wbficonregular";*/
    font-size: 12px;
    font-weight: 800;
    color: #fa7d3c;
}
.head-icon-upload .tips{
    font-size: 12px;
    color: #808080;
}



.user-info-detail{
    width:440px;
    display: inline-block;
    padding-left: 30px;
}

form fieldset{
    border-color: transparent;
    border-top-color: #e6e6e6;
}
.base-info-header, .contact-info-header, .borrow-info-header{
    position: relative;
}
.base-info-header input, .contact-info-header input, .borrow-info-header input{
    position: absolute;
    right: 0;
    top: 0px;
    border:1px solid #d9d9d9;
    background-color: #f2f2f2;
    border-radius: 13px;
    padding: 0 8px 0 9px;
    height: 20px;
    line-height: 18px;
    font-size: 12px;
    /*top: -18px;*/
}
.base-info-content>div, .contact-info-content>div, .borrow-info-content>div{
    margin-bottom: 5px;
    font-size: 12px;
}
.base-info-content>div>span, .contact-info-content>div>span, .borrow-info-content>div>span{
    float: left;
    width: 82px;
    text-align: right;
    white-space: nowrap;
    color: #808080;
}
.base-info-content>div>p, .contact-info-content>div>p, .borrow-info-content>div>p{
    color: #333;
    margin-left: 89px;
}
.base-info-content>div>p>span, .contact-info-content>div>p>span, .borrow-info-content>div>p>span{
    color: #d7914b;
    padding-left: 13px;
    cursor: pointer;
    background: url("../../img/pen.png") 0 50% no-repeat;
}


.edit{
    display: none;

}
.edit input, .edit select{
    font-size: 12px;
}

textarea{
    width: 326px;
}
/*
.edit select[name="grade"]{
    width: 60px;
}
.edit select[name="major"]{
    width: 80px;
}
.edit select[name="class"]{
    width: 50px;
}*/
footer{
    position: fixed;
    bottom: 0;
    left: 0;right: 0;
}